@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Poppins', sans-serif;
}

header ul li span{
    transform: translateX(-101%);
    transition: transform .2s ease-in
}

header ul li:hover span{
    transform: translateX(0)
}

header ul li.active span{
    transform: none;
    transition: none;
}


button.active{
    background-color: orange;
}

.shadowColor{
    text-shadow: 1px 1px 0 blue, 1px -1px 0 blue, -1px 1px 0 blue, -1px -1px 0 blue, 1px 0px 0 blue, 0px 1px 0 blue, -1px 0px 0 blue, 0px -1px 0 blue;
}
